.link{
  padding: 0.5rem;
  text-decoration: none;
  color: white
}

.link:visited{
  color: white;
}

.linkActive{
  border-radius: 5px;
  background-color: var(--link-active);
  color: white;
}
.linkActive:visited{
  color: white;
}