/* Coolors Exported Palette - https://coolors.co/604490-906dc0-d4559e-e8d9f4-000000 */

/* CSS HEX */
--ultra-violet: #604490ff;
--amethyst: #906DC0ff;
--mulberry: #D4559Eff;
--pale-purple: #E8D9F4ff;
--black: #000000ff;

/* CSS HSL */
--ultra-violet: hsla(262, 36%, 42%, 1);
--amethyst: hsla(265, 40%, 59%, 1);
--mulberry: hsla(326, 60%, 58%, 1);
--pale-purple: hsla(273, 55%, 90%, 1);
--black: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$ultra-violet: #604490ff;
$amethyst: #906DC0ff;
$mulberry: #D4559Eff;
$pale-purple: #E8D9F4ff;
$black: #000000ff;

/* SCSS HSL */
$ultra-violet: hsla(262, 36%, 42%, 1);
$amethyst: hsla(265, 40%, 59%, 1);
$mulberry: hsla(326, 60%, 58%, 1);
$pale-purple: hsla(273, 55%, 90%, 1);
$black: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$ultra-violet: rgba(96, 68, 144, 1);
$amethyst: rgba(144, 109, 192, 1);
$mulberry: rgba(212, 85, 158, 1);
$pale-purple: rgba(232, 217, 244, 1);
$black: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);
$gradient-right: linear-gradient(90deg, #604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);
$gradient-bottom: linear-gradient(180deg, #604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);
$gradient-left: linear-gradient(270deg, #604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);
$gradient-top-right: linear-gradient(45deg, #604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);
$gradient-bottom-right: linear-gradient(135deg, #604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);
$gradient-top-left: linear-gradient(225deg, #604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);
$gradient-bottom-left: linear-gradient(315deg, #604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);
$gradient-radial: radial-gradient(#604490ff, #906DC0ff, #D4559Eff, #E8D9F4ff, #000000ff);