.newBlogContain{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.newBlogContain h1 {
  margin: var(--margin-top);
}
.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}