:root {
  --background: #f3e8ff;
  --foreground: #482548c0;
  --button-default: #d93670;
  --button-hover: #ba1c54;
  --button-active: #9f0a3e;
  --button-disabled: #f9bbd2;

  --button-radius: 8px;
  --button-font-size: 1rem;
  --button-text-color: #ffffff;

  --link-active: #d93670;
  --form-bg: #c9b6e4;
  --form-border: #d1a5f0;
  --form-shadow: rgba(0, 0, 0, 0.1);
  --input-bg: #ffffff;
  --input-border: #d1a5f0;

  --margin-top: 1.5rem;

  --text-md: 1rem;

  --error: #df1e1d;

  --border-radius-m: 5px;
}
html,
body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  max-width: 1024px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

h1{
  margin: 0
}

select {
  flex: 1;
  border: 1px solid #482548c0;
  background: white;
  padding: 0.5rem;
  border-radius: var(--border-radius-m);
  transition: 0.4s;
}

select:hover,
select:focus {
  background: #dddddd;
}

