:root {
  --background: #f3e8ff;
  --foreground: rgba(72, 37, 72, 0.752);
  --button-default: #d93670;
  --button-hover: #ba1c54;
  --button-active: #9f0a3e;
  --button-disabled: #f9bbd2;

  --button-radius: 8px;
  --button-font-size: 1rem;
  --button-text-color: #ffffff;

  --link-active: #d93670;
  --form-bg: #c9b6e4;
  --form-border: #d1a5f0;
  --form-shadow: rgba(0, 0, 0, 0.1);
  --input-bg: #ffffff;
  --input-border: #d1a5f0;

  --margin-top: 1.5rem;

  --text-md: 1rem;

  --error: #df1e1d
}
html,
body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  max-width: 1024px;
  width: 100%;
}

h1{
  margin: 0
}

