.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.spinner {
  width: 64px;
  height: 64px;
  border-top: 6px solid #d9366f39;
  border-right: 6px solid #d9366f89;
  border-bottom: 6px solid #d9366fed;
  border-left: 6px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
