.buttonLike {
  background-color: transparent;
  border: none;
}

.buttonLike svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: transparent;
  stroke: #e32195;
}

.buttonLike:hover svg {
  fill: #e32195;
  cursor: pointer;
  transition: all 0.2s
}

.liked .buttonLike svg {
  fill: #e32195;
  cursor: pointer;
}

.liked .buttonLike:hover svg {
  fill: transparent;
}
