.article {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem;
  max-width: 1024px;
  width: 100%;
}

.title {
  margin-top: var(--margin-top);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.meta .btns {
  display: flex;
  column-gap: 1rem;
}

.imageContainer {
  width: 60%;
  max-height: 300px;
  height: auto;
  align-self: center;
  border-radius: 8px;
  
  display: flex;
  justify-content: center;
}


.imageContainer img {
  border-radius: 8px;
  object-fit: cover;
}

.content {
  white-space: pre-wrap;
  text-align: justify;
}
